<div class="container-fluid">
  <div cdkDropListGroup class="row">
    <div class="col-sm-4" *ngFor="let column of boardService.getBoard$() | async">
      <h2>{{column.title}}</h2>

      <div cdkDropList [cdkDropListData]="column.list" class="example-list" (cdkDropListDropped)="drop($event)">
        <div cdkDrag class="example-box" [ngStyle]="{background: column.color}" *ngFor="let item of column.list">
          <app-board-item [item]="item"></app-board-item>
        </div>
      </div>
    </div>
  </div>
</div>
